-
  const services = [
  { icon: 'fas fa-rocket', title: 'Space Analysis & Planning' },
  { icon: 'fas fa-clock', title: 'Design & Color Choosing' }, 
  { icon: 'fas fa-comments', title: 'Materials & Delivery' },
  { icon: 'fas fa-tools', title: 'Execute The Concept' },
  { icon: 'fas fa-chart-pie', title: 'Create A Great Atmosphere' },
  { icon: 'fas fa-chart-bar', title: 'Evaluation & Reporting' }
  ];